/* Nav and footer end */

/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: Poppins;
    color: white;
    font-weight: normal;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgb(2 13 29), rgb(34 65 110));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(14 81 123), rgb(6 47 72));
    height: 164px;
    min-width: 1302.41px;
}

.navtext > a {
    background-image: linear-gradient(rgb(103 7 43), rgb(129 4 50));
    height: 65px;
    align-items: center;
    transition: .2s;
    display: flex;
    color: white;
    width: 275px;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 48px;
}

.navtext > a:hover {
    filter: brightness(75%);
    border-radius: 20px;
}

#trionimage {
    width: 100px;
    transition: .2s;
}

#trionimage:hover {
    width: 100px;
    filter: brightness(50%);
}

.svg {
    height: 50px;
    transition: .2s;
}

.svg:hover {
    filter: brightness(50%);
}

footer {
    margin-top: auto;
    background-image: linear-gradient(rgb(24, 46, 79), rgb(9, 20, 37));
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin: 0%;
    color:#ffffff;
    min-width: 1302.41px;
    justify-content: flex-end;
}

div#links { /* holds the boxes of links */
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    margin: auto; 
    max-width: 1200px;
}

section.footercontent { /* holds the actual links */
    width: 480px;
    height: auto;
    padding: 20px;
    margin: 5px; 
    min-width: 400px;
    text-align: left;
}

.footercontent > a {
    color: rgb(0, 128, 255);
}

.footercontent > a:visited {
    color: rgb(255, 0, 255);
}

/* Nav and footer end */



/* image gradient effect  */

/* HOW TO USE

ok so basically put your image in a div and add a class (or id) 
and name that "gradient-overlay-container" 

THEN for the class/id of the image itself do the same thing but
have is as "gradient-effect" 

You will use it as a class or ID depending of you use the effect 
more then once per page

IF you use a class and your image already has a class then simply
add the class name after the first with a space inbetween

IF ISSUE THEN DO NOT TOUCH THIS CODE FOR GODS SAKE*/

.gradient-overlay-container, #gradient-overlay-container {
    position: relative;
    overflow: hidden;  
}

.gradient-effect, #gradient-effect {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gradient-overlay-container::before, #gradient-overlay-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.842), rgba(209, 209, 209, 0.24)); /* Gradient */
    pointer-events: none;
}

/* image gradient effect end  */



/* CONNOR */

#about-us-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#about-us-big-image {
    justify-content: space-around;
    min-width: 50%;
}

#about-us-big-image > img {
    width: 455px;
    height: 750px;
}

#about-us-smaller-images {
    justify-content: space-around;
    min-width: 50%;
    border-width: 10px;
    display: flex;
    flex-wrap: wrap;
}

#about-us-smaller-images > img {
    width: 400px;
    height: 300px;
}

#Hero-Car-Image {
    width: 100%;
    height: 350px;
}

#Merch-Container-pg1 {
    display: flex;
    width: auto;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
}

.Merch-items-pg1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Merch-items-pg1 > img {
    height: 445px;
    width: 505px;
}

.Merch-items-pg1 > p {
    position: absolute;
    text-shadow: 5px 5px black;
    font-size: 96px;
}
    /* yeeeee */

/* homepage code */

#shiftymcgee {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 60%;
}

#About{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 10px;
}


.Clothing > div > img {
    max-width: 200px;
    height: 165px;
}

#Aboutus > div > img {
    max-width: 200px;
    height: 165px;
}

#big-main-content-container {
    margin: 10px;
}

/* homepage code end */



/* CONNOR END */



/* FABIAN */
#account-background {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;
    }

#profile-description {
    color: black;
    display: flex;
    height: 60px;
    width: 495px;
    justify-content: space-between;
}

.accountpages {
    display: flex;
    flex-direction: column;
}

.account-pages {
    color: black;
    height: 60px;
    width: 495px;
    display: flex;
}

.textpagecolor {
    color: black;
    margin-top: 11px;
}

#signin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
}

#register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 100px;
}

#inputtext {
    color: black;
    height: 40px;
    width: 705px;
    margin-top: 10px;
}

.account-buttons {
    background-color: #780530;
    color: white;
    width: 705px;
    height: 40px;
    border-radius: 10px;
    border-color: rgba(152, 38, 38, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#style-checkbox {
    accent-color: #780530;
    width: 16px;
    height: 16px;
    margin-top: 15px;
}

#label-checkbox {
    color: black;
}
/* Cart page */
#shoppingcartpage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.Whitetshirt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 590px;
    height: 420px;

}
.cartboxes {
    width: 590px;
    height: 415px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.howmanywanted {
    background-color: #D9D9D9;
    color: black;
    width: 60px;
    height: 45px;
    display: flex;
    flex-direction: center;
    
}


#cartitemtitle {
   display: flex;
    justify-content:center;
}

.itemsummary {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;

    color: black;
}
#packaging {
    background-color: white;
    width: 70px;
    height: 75px;
}

.gifting {
    background-color: #D9D9D9;
    color: black;
    display: flex;
}
#mail {
    background-color: white;
    width: 70px;
    height: 75px;
}
#carticonimages {
    display: flex;
    flex-direction: column;
}

/* FABIAN END */



/* ADAM */
.Clothing{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.GraphicBlackt {
    display:flex;
    flex-direction: row-reverse;
}

.shop {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    background-image: linear-gradient(rgb(149, 149, 149), rgb(85, 85, 85));
    color: #ffffff;
    padding: 12px 24px;
    position: absolute;
    border-radius: 10px;
    margin: 10px;
    transition: .2s;
}

.GraphicBlackt .shop:hover{
    filter: brightness(75%);
}

.Merchandise{
    margin-left: 10px;
    display: flex;
    color: white;
    flex-direction: column;
}

#about-us-text-container {
    width:fit-content;
    justify-content: flex-start;
}

#Aboutus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
}

.Cars{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.Blackwidow{
    width: 790px;
    height: 325px;
    flex-shrink: 0;
    padding-left: 60px;
    margin-top: 60px;
    margin-bottom: 100px;
    border-radius: 25px;
}

.Blackwidow:hover{
    filter: brightness(75%);
}

.Nemesis{
    width: 790px;
    height: 325px;
    flex-shrink: 0;
    padding-right: 60px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.Nemesis:hover{
    filter: brightness(75%);
}
.Nemesisrr{
    display:flex;
    flex-direction:row;
    padding-left: 500px;
    margin-bottom: 100px;
    width:4000px;
    height: 665px;
    flex-shrink: 0;
}

.Bodyt{
    color:black;
    width: 157px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.Bodybtn:hover{
    filter: brightness(75%);
}

.Bodybtn{
    display:flex;
    padding-left: 1200px;
    
}
/* ADAM END */

