/* Nav and footer end */

/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: Poppins;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgb(2 13 29), rgb(34 65 110));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(14 81 123), rgb(6 47 72));
    height: 164px;
    min-width: 1302.41px;
}

.navtext > a {
    background-image: linear-gradient(rgb(103 7 43), rgb(129 4 50));
    height: 65px;
    align-items: center;
    transition: .2s;
    display: flex;
    color: white;
    width: 275px;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 48px;
}

.navtext > a:hover {
    filter: brightness(75%);
    border-radius: 20px;
}

#trionimage {
    width: 100px;
    transition: .2s;
}

#trionimage:hover {
    width: 100px;
    filter: brightness(50%);
}

.svg {
    height: 50px;
    transition: .2s;
}

.svg:hover {
    filter: brightness(50%);
}

footer {
    margin-top: auto;
    background-image: linear-gradient(rgb(24, 46, 79), rgb(9, 20, 37));
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin: 0%;
    color:#ffffff;
    min-width: 1302.41px;
    justify-content: flex-end;
}

div#links { /* holds the boxes of links */
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    padding: 20px;
    margin: auto; 
    max-width: 1200px;
}

section.footercontent { /* holds the actual links */
    width: 480px;
    height: auto;
    padding: 20px;
    margin: 5px; 
    min-width: 400px;
    text-align: left;
}

.footercontent > a {
    color: rgb(0, 128, 255);
}

.footercontent > a:visited {
    color: rgb(255, 0, 255);
}

/* Nav and footer end */



/* image gradient effect  */

/* HOW TO USE

ok so basically put your image in a div and add a class (or id) 
and name that "gradient-overlay-container" 

THEN for the class/id of the image itself do the same thing but
have is as "gradient-effect" 

You will use it as a class or ID depending of you use the effect 
more then once per page

IF you use a class and your image already has a class then simply
add the class name after the first with a space inbetween

IF ISSUE THEN DO NOT TOUCH THIS CODE FOR GODS SAKE*/

.gradient-overlay-container, #gradient-overlay-container {
    position: relative;
    overflow: hidden;  
}

.gradient-effect, #gradient-effect {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-overlay-container::before, #gradient-overlay-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.842), rgba(209, 209, 209, 0.24)); /* Gradient */
    pointer-events: none;
}

/* image gradient effect end  */



/* CONNOR */

#about-us-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#about-us-big-image {
    min-width: 50%;
}

#about-us-big-image > img {
    width: 455px;
    height: 750px;
}

#about-us-smaller-images {
    min-width: 50%;
    border-width: 10px;
    display: flex;
    flex-wrap: wrap;
}

#about-us-smaller-images > img {
    width: 400px;
    height: 300px;
}

#Hero-Car-Image {
    width: 100%;
    height: 350px;
}
    /* yeeeee */

/* CONNOR END */



/* FABIAN */
#account-background {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#profile-description {
    color: black;
    display: flex;
    justify-content:right;
}

.accountpages {
    display: flex;
    flex-direction: column;
}

.textpagecolor {
    color: black;
}

#signin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#register {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.account-buttons {
    background-color: #780530;
    color: white;
}
/* FABIAN END */



/* ADAM */
.Clothing{
    background-image:  linear-gradient(rgb(29, 57, 99), rgb(14, 31, 56));
    display: flex;
    flex-direction: row;
}
#Whiteshirtgirl{
    mask-image: linear-gradient(rgb(29, 57, 99), rgb(14, 31, 56));
}
.Whiteshirtgirl{
    max-width: 200px;
    max-height: 165px;
}
.Hoodie{
    max-width: 200px;
    max-height: 165px;
}
.Phonecase{
    max-width: 200px;
    max-height: 165px;
}
.GraphicBlackt{
    position:relative;
    width: 50%;
    width: 200px;
    height: auto;
}

.GraphicBlackt .shop{
    display:flex;
    flex-direction: row-reverse;
    transition: .2s;
    align-self: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(148, 148, 148);
    color: #ffffff;
    font-size: 16px;
    padding: 6px 60px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.GraphicBlackt .shop:hover{
    border-radius: 20px;

    filter: brightness(75%);
}

.Merchandise{
    display: flex;
    color: white;
    transform: translate(25%, 5%);
    flex-direction: column;
}

.About{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 transform: translate(1%, 5%);
 flex-direction: column;
}
.About .p
.About{
    background-image:  linear-gradient(rgb(29, 57, 99), rgb(14, 31, 56));
    display: flex;
    flex-direction: row;
}
.Aboutus{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transform: translate(0%, -85%);
}
.Brent{
    width:200px;
    height: 165px;
}
.Nancy{
    max-width: 200px;
    max-height: 165px;
}
.Quinton{
    max-width: 200px;
    max-height: 165px;
}
.Romeo{
    max-width: 200px;
    max-height: 165px;
}

/* .Merchandise .p{
    display: flex;
} */

/* ADAM END */

